<div class="container">
    <div class="cabecera animated bounceInDown">
        <h1 class = "text-center"> CONSULTAS </h1>
    </div>
    <br>
    <br>
    <div>

   <!-- <button class="pad btn animated bounceInUp" ng-click="abrirValidar()"><i class="fa fa-wpforms" aria-hidden="true"></i>&nbsp;&nbsp;REVISIÓN DE BOLETINES</button>

    <button class="pad btn animated bounceInUp"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;GESTIÓN DE BOLETINES</button>-->

    <!--<button class="pad btn animated bounceInUp"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;MTM QUICK</button> -->

    <button class="pad btn animated bounceInUp" ng-click="rendimientos()"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;RENDIMIENTOS</button>

  <!--  <button class="pad btn animated bounceInUp" ng-click="fichasOpe()"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;FICHAS DE OPERARIO</button>-->

    <button class="pad btn animated bounceInUp">VACIO</button>

    <button class="pad btn animated bounceInUp">VACIO</button>

    <button class="pad btn animated bounceInUp">VACIO</button>

    <button class="pad btn animated bounceInUp">VACIO</button>





    </div>
</div>



