<h1> Ficha de la referencia {{codidoInterno}}<h1>

<div class="ron">
    <form>
		 <h3>Referencia:</h3>
			 
				 <input type="text" class="form-control" ng-model="bombo.referencia" readonly="readonly"></input>
			 <br>

		 <h3>UAP:</h3>
			 
				 <input type="text" class="form-control" ng-model="bombo.uap"></input>
			 <br>

		 <h3>Moldes:</h3>
			 
				 <input type="text" class="form-control" ng-model="bombo.moldes"></input>
			 <br>

		 <h3>Cantidad Por Caja:</h3>
			 
				 <input type="text" class="form-control" ng-model="bombo.cantida_caja"></input>
			 <br>

				 <button type="submit" class="btn btn-primary">Guardar Cambios</button>
	</form>
</div>

