
<h1 class="text-center">LOGIN</h1>
<br>
<div class="logeo">
  <form name = "login" ng-submit="logeo(usuario)">
     OPERARIO:
  	 <input type="number" required="required" class="form-control" ng-model="usuario.operario" placeholder="Numero de Operario"></input>
  	 <br>
  	 <br>
     PASSWORD:
     <input type="password" required="required" class="form-control" ng-model="usuario.pass" placeholder="Password"></input>
     <br>
  	 <br>
  	 <button type="submit" class="btn btn-info"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Entrar</button>

  </form>
</div>