<div class="container">
    <div class="row botones">
 <!-- Boton de Referencia-->
    <button class="btn btn-info botonesInteno" ng-click="ocultarRef1()">166714557R</button>
 <!--Boton de UM -->
      <dt ng-show="ocultar">
         <dl class="borde"><button class="btn btn-success botonesInteno animated bounceInLeft" ng-click="ocultarrefUM()">UM-642</button>
              <dt ng-show="ocultarUM">
              <!-- botones de opcion -->
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir1()">Ficha de Fabricación</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir2()">Ficha de Acondicionamiento</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir3()">FIPE</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir4()">DSPR</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrirCriterios5()">Criterios de Autocontrol</button></dl>
              </dt>
         </dl>
         <dl class="borde"><button class="btn btn-success botonesInteno animated bounceInLeft" ng-click="ocultarrefUM2()">UM-1010</button>
              <dt ng-show="ocultarUM2">
              <!-- botones de opcion -->
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir1()">Ficha de Fabricación</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir2()">Ficha de Acondicionamiento</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir6()">FIPE</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir7()">DSPR</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrirCriterios8()">Criterios de Autocontrol</button></dl>
              </dt>
         </dl>
         <dl class="borde"><button class="btn btn-success botonesInteno animated bounceInLeft" ng-click="ocultarrefUM3()">UM-1012</button>
              <dt ng-show="ocultarUM3">
              <!-- botones de opcion -->
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir1()">Ficha de Fabricación</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir2()">Ficha de Acondicionamiento</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir9()">FIPE</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir10()">DSPR</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrirCriterios11()">Criterios de Autocontrol</button></dl>
              </dt>
         </dl>
         <dl class="borde"><button class="btn btn-success botonesInteno animated bounceInLeft" ng-click="ocultarrefUM4()">UM-1014</button>
              <dt ng-show="ocultarUM4">
              <!-- botones de opcion -->
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir1()">Ficha de Fabricación</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir2()">Ficha de Acondicionamiento</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir12()">FIPE</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir13()">DSPR</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrirCriterios14()">Criterios de Autocontrol</button></dl>
              </dt>
         </dl>
         <dl class="borde"><button class="btn btn-success botonesInteno animated bounceInLeft" ng-click="ocultarrefUM5()">UM-1015</button>
              <dt ng-show="ocultarUM5">
              <!-- botones de opcion -->
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir1()">Ficha de Fabricación</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir2()">Ficha de Acondicionamiento</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir15()">FIPE</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir16()">DSPR</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrirCriterios17()">Criterios de Autocontrol</button></dl>
              </dt>
         </dl>
         <dl class="borde"><button class="btn btn-success botonesInteno animated bounceInLeft" ng-click="ocultarrefUM6()">UM-1016</button>
              <dt ng-show="ocultarUM6">
              <!-- botones de opcion -->
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir1()">Ficha de Fabricación</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir2()">Ficha de Acondicionamiento</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir18()">FIPE</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir19()">DSPR</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrirCriterios20()">Criterios de Autocontrol</button></dl>
              </dt>
         </dl>
         <dl class="borde"><button class="btn btn-success botonesInteno animated bounceInLeft" ng-click="ocultarrefUM7()">UM-1321</button>
              <dt ng-show="ocultarUM7">
              <!-- botones de opcion -->
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir1()">Ficha de Fabricación</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir2()">Ficha de Acondicionamiento</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir18()">FIPE</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir22()">DSPR</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrirCriterios22()">Criterios de Autocontrol</button></dl>
              </dt>
         </dl>
      </dt>

     <!-- Boton de Referencia-->
    <button class="btn btn-info botonesInteno" ng-click="ocultarRef2()">164464EB0B</button>
 	<!--Boton de UM -->
      <dt ng-show="ocultar2">
         <dl class="borde"><button class="btn btn-success botonesInteno animated bounceInLeft" ng-click="ocultarrefUM()">U-1257
</button>
              <dt ng-show="ocultarUM">
              <!-- botones de opcion -->
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir23()">Ficha de Fabricación</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir24()">Ficha de Acondicionamiento</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir25()">Ficha de Acon. RUSIA</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir26()">FIPE</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrir27()">DSPR</button></dl>
                <dl class="borde"><button class="btn btn-warning botonesInteno animated bounceInLeft" ng-click="abrirCriterios28()">Criterios de Autocontrol</button></dl>
              </dt>
         </dl>
        </dt>


   <!-- Fin del menu lateral -->

    </div>

    <img class="pdfVisor"  ng-src="{{direccionimg}}">

 </div>

