<div class="container">
	<div class="cabecera animated bounceInDown">
		<h1 class = "text-center"> SUPERVISOR </h1>
	</div>
	<br>
	<br>
	<div>

	<button class="pad btn btn-info animated bounceInUp" ng-click="validar()">VALIDAR BOLETINES</button>

	<button class="pad btn btn-info animated bounceInUp">BOLETINES PENDIENTES</button>

	<button class="pad btn btn-info animated bounceInUp" ng-click="rendimientos()"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;CONSULTA RENDIMIENTOS</button>

	<button class="pad btn btn-info animated bounceInUp" ng-click="boletinSemanal()">BOLETIN SEMANAL SUPERVISOR</button>

	<button class="pad btn btn-info animated bounceInUp">INSERTAR BOLETIN MANUAL</button>

	<button class="pad btn btn-info animated bounceInUp">REVISION BOLETIN DEVUELTO</button>

	<button class="pad btn btn-info animated bounceInUp">BUSCAR BOLETIN OPERARIO</button>

	<button class="pad btn btn-info animated bounceInUp" ng-click="Multi()">INSERTAR BOLETINES MULTIPLES</button>

	<button class="pad btn btn-info animated bounceInUp">SCRAP METAL</button>





	</div>
</div>